{% extends "ideas/base.html" %}
{% load media %}
{% load tagging_tags %}

{% block extrahead %} 
{% js "fancytags.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        var ftctl = fancytags('#id_tags');

        $('.common_tag a').click(function(event) {
            event.preventDefault();
            ftctl.add_tag(($(this).text()));
        });

        $('#show_common_tags').click(function(event) {
            event.preventDefault();
            $('div#commonTags_wrapper').toggle();
        });
        $('div#commonTags_wrapper').hide();
    });
</script>
{% endblock %}

{% block content %}
<div id="join_project" class="module">
    <div id="createHeader" class="contentHeader">
        <h2>Editing Project {{project}}</h2>
    </div>
    <div class="module">
        <form id="projectForm" method="POST" action=".">
            <ul id="projectForm_details">
                {% for field in project_form %}
                <li> {{ field.label_tag }} {{ field }}

                {% ifequal field.name "tags" %}
                    <div id="fancy_tags_widget">
                        <p><a id="show_common_tags" href="#">Show Common Tags List</a></p>
                        <div class="commonProject_tags" id="commonTags_wrapper">
                            <p class="tip">Click on the common tags below to add them to your list.</p>
                            <ul id="common_tags">
                                {% tag_cloud_for_model projects.Project as used_tags with min_count=3 %}
                                {% for tag in used_tags %}
                                <li class="common_tag"><a href="#">{{tag}}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="clear"></div>
                        </div>    
                        <input id="tags" type="text" maxlength="30" />
                        <button class="addBtn">
                            <span>Add Tag</span>
                        </button>
                        <div id="projectTags">
                            <ul class="tag_buttons"> </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                {% endifequal %}

                </li>
                {% endfor %}
            </ul>

            {{ link_formset.management_form }}
            <h3>Links</h3>
            <table id="linksTable">
                <thead>
                    <tr id="titles">
                        <th>Link Name</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for linkform in link_formset.forms %}
                {% for field in linkform.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <tr>
                    {% for field in linkform.visible_fields %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ feed_formset.management_form }}
            <h3 class="h3tip">News Feed</h3>
            <p class="tip">Update the community on the progress you and your team have made on {{project}}.</p>
            <table id="feedsTable">
                <thead>
                    <tr id="titles">
                        <th>Feed Name</th>
                        <th>URL</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for feedform in feed_formset.forms %}
                    {% for field in feedform.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                <tr>
                    {% for field in feedform.visible_fields %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ role_formset.management_form }}
            <h3 class="h3tip">Project Members</h3>
            <p class="tip">Add and keep track of community members who have requested to become part of {{project}}.</p>
            <table id="projectMembers">
                <thead>
                    <tr id="titles">
                        <th class="member_left">User</th>
                        <th class="member_message">Message</th>
                        <th>Status</th>
                    </tr>    
                </thead>
                <tbody>
                {% for roleform in role_formset.forms %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="member_left"> <a href="{{ up.user.get_absolute_url }}">{{roleform.instance.user}}</a> </td>
                    <td class="member_message">{{roleform.instance.message}}</td>
                    {% for field in roleform %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <button class="updateProjectBtn">
                <span>Update Project Details</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
