{% extends "ideas/base.html" %}
{% load media %}

{% block extrahead %} 
{% js "fancytags.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        fancytags('#id_skills');
    });
</script>
{% endblock %}

{% block content %}
<div id="join_project" class="module">
    <div id="createHeader" class="contentHeader">
        <h2>Editing Project {{project}}</h2>
    </div>
    <div class="module">
        <form id="projectForm" method="POST" action=".">
            <ul id="projectForm_details">
                {% for field in project_form %}
                <li> {{ field.label_tag }} {{ field }}

                {% ifequal field.name "skills" %}
                    <div id="fancy_tags_widget">
                        <a id="commonTags_link" href="#">Show Common Tags List</a>
                        <input id="tags" type="text" maxlength="30" />
                        <button class="addBtn">
                            <span>Add Skill</span>
                        </button>
                        <div id="projectTags">
                            <ul> </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                {% endifequal %}

                </li>
                {% endfor %}
            </ul>

            {{ link_formset.management_form }}
            <h3>Links</h3>
            <table id="linksTable">
                <thead>
                    <tr id="titles">
                        <th>Link Name</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th class="links_order">Order</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for linkform in link_formset.forms %}
                {% for field in linkform.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <tr>
                    {% for field in linkform.visible_fields %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ feed_formset.management_form }}
            <h3>Feeds</h3>
            <p class="tip">Feeds listed here will populate the activity portion of your project page</p>
            <table id="feedsTable">
                <thead>
                    <tr id="titles">
                        <th>Feed Name</th>
                        <th>URL</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for feedform in feed_formset.forms %}
                    {% for field in feedform.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                <tr>
                    {% for field in feedform.visible_fields %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ role_formset.management_form }}
            <h3>Project Members</h3>
            <table>
                <thead>
                    <tr id="titles">
                        <th>User</th>
                        <th>Message</th>
                        <th>Status</th>
                    </tr>    
                </thead>
                <tbody>
                {% for roleform in role_formset.forms %}
                <tr>
                    <td> {{roleform.instance.user}} </td>
                    <td> {{roleform.instance.message}} </td>
                    {% for field in roleform %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <button class="submitBtn">
                <span>Submit</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
