{% extends "projects/base.html" %}

{% block title %}
Sunlight Labs: Create Project
{% endblock title %}

{% block extrahead %}
    {% include "projects/tags_js.html" %}
{% endblock %}

{% block content %}
<div id="join_project" class="module">
    <div id="createHeader"class="contentHeader">
        <h2 class="space">Project Creation Disabled</h2>
    </div>

    <div class="module">
        <p>We have disabled project creation as we re-evaluate how best to encourage community collaboration around projects.
        If you have a project that you'd like to share with the community please consider sharing it <a href="http://groups.google.com/group/sunlightlabs"> with the Sunlight Labs Google Group</a>.
        </p>
    </div>
</div>
{% endblock %}
