{% extends "ideas/base.html" %}
{% load projects %}

{% block content %}
<div class="contentHeader">
    <h2 class="projects">Projects
        {% if tag %} tagged {{tag}} {% endif %}
    </h2>
</div>
<div id="projects" class="module">
    {% for project in project_list %}
        {% include "projects/project_summary.html" %}
    {% endfor %}
</div>
{% include "pagination_div.html" %}
{% endblock %}

{% block sidebar %}
<h3 class="space">Project Statistics</h3>
<div class="module">
    {% project_skills_piechart python:00aa00 ruby:aa0000 %}
</div>
{% endblock %}
