{% extends "projects/base.html" %}
{% load people %}
{% load blog %}
{% load tagging_tags %}

{% block title %}
Sunlight Labs: Projects - {{project.name}}
{% endblock title %}

{% block content %}
{% if project.moderation_object.moderation_status == -1 %}

<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">Project Removed</h2>
    </div>
    <div class="module">
        <p>
        This project has been removed.

        <dl class="moderationMetadata">
            <dt>Removed by</dt>
            <dd>{% display_name project.moderation_object.moderation_status_by %}</a></dd>
            <dt>Date</dt>
            <dd>{{project.moderation_object.moderation_status_date|date}}</dd>
            <dt>Reason</dt>
            <dd>{{project.moderation_object.moderation_reason}}</dd>
        </dl>
        </p>
    </div>
</div>

{% else %}
<div id="projects" class="module">

    <div class="contentHeader">
        <h2 class="projects">{{project.name}}</h2>
    </div>

    {% tags_for_object project as tags %}

    <div id="projectDetail" class="module">
        <dl class="entryMetadata">
            <dt>Became a project on</dt>
            <dd>{{project.creation_date|date}}</dd>
        </dl>

        <div id="languages">
            {% if "d4a-winner" in project.tags %}
            <img alt="Design For America Winner" title="Design For America Winner" src="http://assets.sunlightlabs.com/site3/images/icon_apps1.png">
            {% else %}
                {% if "d4a" in project.tags %}
                <img alt="Design For America Entry" title="Design For America Entry" src="http://assets.sunlightlabs.com/site3/images/icon_apps.png">
                {% endif %}
            {% endif %}

            <h3 id="skillsHeader">Tags</h3>
            <ul>
                {% for tag in tags %}
                <li><a href="{% url projects_tagged tag %}">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="project_mainDetails">
            <div id="projectDescription">{{project.description}}</div>
            <ul>
                {% for link in project.links.all %}
                <li class="{{link.get_link_type_display}}_link">
                    <a title="{{link.get_link_type_display}}" href="{{link.url}}">{{link.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block sidebar %}
{% if project.moderation_object.moderation_status != -1 %}
<h3 class="space">Project Participants</h3>
<div class="module">
    <h4>Lead</h4>
    <a id="leadParticipant" href="{{project.lead.get_absolute_url}}">
        {% gravatar project.lead.email %}
        <span id="leadName">{% display_name project.lead %}</span>
    </a>
    <div class="clear"></div>

    {% with project.get_members as members %}
    {% if members %}
    <h4 id="teamHeader">Team</h4>
    <ul id="teamParticipants">
        {% for member in members %}
            <li>
                <a href="{{member.get_absolute_url}}">{% gravatar member.email %}
                    <span>{% display_name member %}</span>
                </a>
            </li>
        {% endfor %}
        <div class="clear"></div>
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="clear"></div>
{% endif %}
{% endblock %}
