<div class="project">
    {% if project.official %}
        <span class="sunlightProject">Sunlight Project</span>
    {% else %}
        <span class=""></span>
    {% endif %}

    <div class="projectContent">
        <h3><a href="{{project.get_absolute_url}}">{{project}}</a></h3>
        <dl class="entryMetadata">
            <dt>Written by</dt>
            <dd><a href="{{project.lead.get_absolute_url}}">{{project.lead}}</a></dd>
            <dt>Date</dt>
            <dd>{{project.creation_date|date:"m d Y"}}</dd>
        </dl>
        <p>{{project.description}}</p>
        <p><a class="viewAll" href="{{project.get_absolute_url}}">More Details</a></p>
    </div>
</div>
