{% extends "brainstorm/base.html" %}
{% load projects %}

{% block title %}
Sunlight Labs: {% if official %} Official {% endif %} Projects
{% endblock title %}

{% block content %}
<div class="contentHeader">
    <h2 class="projects projectHeader">
        {% if official %} Official {% endif %}
        Projects
        {% if tag %} tagged {{tag}} {% endif %}
    </h2>
    <a class="tip rss" href="/projects/feeds/latest/">Subscribe to this feed</a>
    <a id="projectCreate" href="{% url new_project %}">Create A New Project</a>
    <div class="clear"></div>
</div>
<div id="projects" class="module">
    {% for project in project_list %}
        {% include "projects/project_summary.html" %}
    {% endfor %}
</div>
{% include "pagination_div.html" %}
{% endblock %}

{% block sidebar %}
<h3 class="space">Project Statistics</h3>
<div class="module">
    {% project_skills_piechart 190x140 python:9ca489 ruby:e95018 php:9999cc %}
    {% project_official_piechart 190x140 official:bf920b community:bfc7ba %}
</div>
{% endblock %}
