{% extends "base.html" %}
{% load markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block bodyclass %}about{% endblock %}

{% block content %}
	<div class="contentHeader">
		<h2>Who We Are</h2>
	</div>
	<div class="module">
		{{ flatpage.content|markdown }}
	</div>
{% endblock %}

{% block sidebar %}
<div class="hiringBox module">
    <a href="http://www.sunlightlabs.com/blog/2009/sunlight-labs-hiring/">We're Hiring! Click Here for More Details</a>
</div>
<hr></hr>
{% include "events/events_box.html" %}
{% endblock %}
