<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a href="/blog/2010/introducing-mfncms/"><img style="border: 0px;" src="http://assets.sunlightlabs.com.s3.amazonaws.com/site3/images/aprilFools_blog.jpg" /></a>

        <!-- analytics scripts -->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-1265484-24");
            pageTracker._trackPageview();
        </script>
        <script type="text/javascript">
            var cbjspath = "static.chartbeat.com/js/chartbeat.js?uid=980&domain=sunlightlabs.com";
            var cbjsprotocol = (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://");
            document.write(unescape("%3Cscript src='"+cbjsprotocol+cbjspath+"' type='text/javascript'%3E%3C/script%3E"))
        </script>

</body>
</html>
