{% extends "base.html" %}
{% load hackathon_tags %}
{% load markup %}
{% load media %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="contentHeader">
        <img id="hackathonLogo" src="{%media_url%}/images/logo_hackathon.png" alt="Great American Hackathon Logo"/>
        <h2>{{ flatpage.title }}</h2>
    </div>
    <div class="module">
        {{ flatpage.content|markdown }}
    </div>
    
    <div class="contentHeader">
        <h3 id="h3Header">Hosted Events</h3>
    </div>
    <div id="eventsList" class="module eventsSearch">
        {% hackathon_events %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="haveEvent module">
        <a href="{% url new_event %}">Have An Event Planned? Tell The Community!</a>
    </div>
    <hr></hr>
  <h3 class="space">Partners</h3>
  <div id="hackathonSponsors" class="module">
    <a id="mozillaLogo" href="http://www.mozilla.org/">Mozilla</a>
    <a id="redhatLogo" href="http://www.redhat.com/">Redhat</a>
    <a id="fedoraLogo" href="http://fedoraproject.org/">Fedora</a>
    <a id="googleLogo" href="http://google.com">Google</a>
  </div>  
{% endblock %}
