{% extends "base.html" %}
{% load markup %}
{% load media %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="contentHeader">
        <img id="hackathonLogo" src="{%media_url%}/images/logo_hackathon.png" alt="Great American Hackathon Logo"/>
        <h2>{{ flatpage.title }}</h2>
    </div>
    <div class="module">
        {{ flatpage.content|markdown }}
    </div>
{% endblock %}

{% block sidebar %}
{% include "events/events_box.html" %}
  <hr></hr>
  <h3 class="space">Partners</h3>
  <div id="hackathonSponsors" class="module">
    <a id="mozillaLogo" href="http://www.mozilla.org/">Mozilla</a>
    <a id="redhatLogo" href="http://www.redhat.com/">Redhat</a>
    <a id="fedoraLogo" href="http://fedoraproject.org/">Fedora</a>
    <a id="googleLogo" href="http://google.com">Google</a>
  </div>  
{% endblock %}
