{% extends "base.html" %}
{% load blog %}
{% load projects %}
{% load newsfeed_tags %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Sunlight Labs' latest blog posts" href="/blog/feeds/latest/" />
<link rel="alternate" type="application/rss+xml" title="Recent comments to the Sunlight Labs blog" href="/blog/feeds/comments/" />
{% endblock %}

{% block content %}

<div id="featureBox_wrapper">
    {% if not user.is_authenticated %}
    <div id="featureBox">
    {% else %}
    <div class="news_feature" id="featureBox">
    {% endif %}
{% if not user.is_authenticated %}
        <h2>We're Opening America's Government</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus lorem a nibh consectetur eu porttitor massa semper. Pellentesque hendrerit, eros vitae molestie ultrices.</p>
        <a id="joinBtn" href="{% url openid-login %}">Join Us</a>
{% endif %}
        <div class="clear"></div>

        <div id="alertBox">
            {% include "labs/alertbox.html" %}
        </div>
    </div>
</div>

<div class="contentHeader">
    <h2 class="post">Recent Posts</h2>
</div>
<div class="module hfeed">
    {% get_recent_posts 3 as latest_posts %}
    {% for post in latest_posts %}
        {% include "blogdor/post.html" %}
    {% endfor %}
</div>

{% endblock content %}

{% block sidebar %}
<h3 class="space">Active Projects</h3>
<div id="activeProject_list" class="module">
    {% get_active_projects 3 as active_projects %}
    <ul>
        {% for project in active_projects %}
            {% if project.official %}
                <li class="sunlightProject"> 
            {% else %}
                <li> 
            {% endif %}
                <a href="{{ project.get_absolute_url }}"> {{project}} </a>
            </li>
        {% endfor %}
    </ul>
    <a class="center_viewall" href="/projects/all/">View All Active Projects »</a>
</div>
<hr></hr>
<h3 class="space">What's Happening In The Labs Community</h3>
<div id="timeline" class="module">
    <ul>
        {% render_feed "main" 5 %}
    </ul>
</div>
{% endblock %}
