{% extends "base.html" %}
{% load blog %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Sunlight Labs' latest blog posts" href="http://feeds.feedburner.com/sunlightlabs/blog" />
{% endblock %}

{% block content %}

{% if not user.is_authenticated or alertbox %}
    {% if not user.is_authenticated %}
    <div id="featureBox{% if not alertbox %}NoAlert{% endif %}">
    {% else %}
    <div class="news_feature" id="featureBox">
    {% endif %}

{% if not user.is_authenticated %}
        <h2>We're Opening America's Government</h2>
        <a id="joinBtn" href="http://groups.google.com/group/sunlightlabs/">Join Us</a>
        <p>We're a community of open source developers and designers dedicated to opening up our government to make it more transparent, accountable and responsible. We need your help.</p>
{% endif %}
    <div class="clear"></div>
        {% if alertbox %}
        <div id="alertBox_wrapper">
            <div id="alertBox">
                <span id="alertContent">{{alertbox|safe}}</span>
                <div class="clear"></div>
            </div>
        </div>
        {% endif %}
    </div>
{% endif %} {# endif -- user signed in and no alerts #}

<div class="contentHeader">
    <h2 class="post">Recent Posts</h2>
</div>
<div class="module hfeed">
    {% get_recent_posts 5 as latest_posts %}
    {% for post in latest_posts %}
        {% include "blogdor/post.html" %}
    {% endfor %}
    <a class="center_viewall" href="/blog">« Older Posts</a>
</div>

    <script type="text/javascript">
    var disqus_shortname = 'sunlightlabs';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

{% endblock content %}

{% block sidebar %}

{% include "robots.html" %}

{% endblock %}
