{% extends "base.html" %}

{% block content %}
<div id="createHeader" class="contentHeader">
    <h2>Vote For Your Favorite App</h2>
</div>
<div id="join_project" class="module">  
    <p>Thanks for Voting in the Sunlight Labs Apps for America contest. Our three final entrants are below. Check out each finalist, and then vote for the one you think is the best. Each entry here has already won-- now you're selecting how they'll be ordered. We'll announce the winners (ranked by your votes) at the <a href="http://gov2expo.com">Gov 2.0 Expo</a> next month!</p>

    {% if answer %} <p>Your vote has been recorded.</p> {% endif %}
    <h3 id="favoriteFinalists">Pick your favorite of the three finalists</h3>
    <form action="{% url appjudging_submit %}" method="post" target="_top">
        <ul>
            <li>
                <label for="id_answer_for_9_0">
                <input {% ifequal answer "ThisWeKnow" %}checked="checked"{% endifequal %} value="ThisWeKnow" class="radio_choice_field" name="answer_for_9" id="id_answer_for_9_0" type="radio">
                <a href="http://www.thisweknow.org/">ThisWeKnow</a></label>
            </li>
            <li>
                <label for="id_answer_for_9_1">
                <input {% ifequal answer "govpulse" %}checked="checked"{% endifequal %} name="answer_for_9" value="govpulse" id="id_answer_for_9_1" class="radio_choice_field" type="radio">
                <a href="http://govpulse.us/">govpulse</a></label>
            </li>
            <li>
                <label for="id_answer_for_9_2">
                <input {% ifequal answer "DataMasher" %}checked="checked"{% endifequal %} value="DataMasher" class="radio_choice_field" name="answer_for_9" id="id_answer_for_9_2" type="radio">
                <a href="http://datamasher.org/">DataMasher</a></label>
            </li>
            <li>
            <input name="answer_set" value="{{aset.id}}" id="id_answer_set" type="hidden"><input name="question_set" value="aa2public" id="id_question_set" type="hidden">
            </li>
        </ul>
        <button type="submit" id="voteBtn" value="Vote">
            <span>Vote</span>
        </button>    
    </form>
</div>
{% endblock %}

{% block sidebar %}
        <h3 class="space">Sponsors</h3>
    	<div id="appsSponsors" class="module">
        	<a id="googleLogo" href="http://google.com">Google</a>
        	<a id="oreillyLogo" href="http://oreilly.com">O'Reilly</a>
        	<a id="craignewmark" href="http://cnewmark.com/">Craig Newmark</a>
        	<a id="gov2Logo" href="http://www.gov2expo.com/">Gov 2.0 Expo</a>
        	<a id="techwebLogo" href="http://www.techweb.com/">Tech Web</a>
        </div>
{% endblock %}
