{% load media %}
<div id="heroes">
	<h3>Our Transparency Heroes</h3>
	<ul>
		{% for hero in heroes %}
			<li class="vcard{% if not hero.has_photo %} emptyPhoto{% endif %}">
				{% if hero.has_photo %}<img class="smImage" src="{% media_url %}/images/heroes/{{ hero.slug }}.png" alt="Photo of Name of Person"/>{% endif %}
				<span class="name fn">{{ hero.name }}</span>
				{% if hero.location %}<span class="location">{{ hero.location }}</span>{% endif %}
				{% if hero.organization %}
					<span class="organization">
						{% if hero.organization_url %}
							<a href="{{ hero.organization_url }}">{{ hero.organization }}</a>
						{% else %}
							{{ hero.organization }}
						{% endif %}
					</span>
				{% endif %}
				<!-- http://assets.sunlightlabs.com/images/heroes/{{ hero.slug }}.jpg -->
			</li>
		{% endfor %}
	</ul>		
</div>