<html>
<head>
    <link rel="stylesheet" href="http://assets.sunlightlabs.com.s3.amazonaws.com/site3/styles/main.css" type="text/css" media="screen, projection" />
    <style>
        ul.sponsorLogosList li { float: left; padding: 1.5em;}
    </style>
</head>
<body>
<iframe src="{{url}}" height="85%" width="100%" > </iframe>
<ul class="sponsorLogosList">
    <li><a id="adobeLogo" href="http://www.adobe.com/">Adobe</a></li>
    <li><a id="googleLogo" href="http://www.google.com">Google</a></li>
    <li><a id="oreillyLogo" href="http://oreilly.com/">O'Reilly</a></li>
    <li><a id="techwebLogo" href="http://www.techweb.com/">techWeb</a></li>
    <li><a id="gov2Logo" href="http://www.gov2expo.com/">Gov 2.0 Expo</a></li>
    <li><a id="palantir" href="http://www.palantirtech.com/">Palantir</a></li>
</ul>
</body>
</html>
