{% extends "base.html" %}
{% block content %}
<form method="POST" action=".">
<table border=1>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Links</th>
        <th>Rating</th>
    </tr>

    {% for project in projects %}
    <tr>
        <td>{{project}}</td>
        <td>{{project.description}}</td>
        <td>
            <ul>{% for link in project.links.all %}
                <li> <a href="{{link.url}}">{{link.name}}</a> </li>
            {% endfor %}</ul>
        </td>
        <td>
            <select name="rating_{{project.id}}">
                <option value="">---</option>
                <option value="1" {% ifequal project.rating 1 %}selected="selected"{% endifequal %}>1</option>
                <option value="2" {% ifequal project.rating 2 %}selected="selected"{% endifequal %}>2</option>
                <option value="3" {% ifequal project.rating 3 %}selected="selected"{% endifequal %}>3</option>
                <option value="4" {% ifequal project.rating 4 %}selected="selected"{% endifequal %}>4</option>
                <option value="5" {% ifequal project.rating 5 %}selected="selected"{% endifequal %}>5</option>
            </select>
        </td>
    </tr>
    {% endfor %}
    <input type="submit" value="Save Ratings" />
</form>
</table>
{% endblock %}
