Django

# used by labssite.labs
python-twitter

# markupfield
docutils
markdown
textile
pygments

# feedinator
feedparser

# django-blogdor
akismet

# django-popularity
python-googleanalytics

# django-haystack
Whoosh

# third party apps
django-tagging==0.3.1
django-haystack==1.0.1-final
django-markupfield
django-debug-toolbar
-e git://github.com/jamesturk/django-openid.git#egg=django-openid       # a fork of simonw's work

# sunlight apps
django-mediasync==1.0
-e git://github.com/sunlightlabs/anthill.git#egg=anthill
-e git://github.com/sunlightlabs/django-blogdor.git#egg=django-blogdor
-e git://github.com/sunlightlabs/django-brainstorm.git#egg=django-brainstorm
-e git://github.com/sunlightlabs/django-feedinator.git#egg=django-feedinator
-e git://github.com/sunlightlabs/django-gatekeeper.git#egg=django-gatekeeper
-e git://github.com/sunlightlabs/django-popular.git#egg=django-popular

# site-specific apps
-e git://github.com/sunlightlabs/labssite-apps.git#egg=labssite-apps
