-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=django

# third party apps
-e svn+http://django-tagging.googlecode.com/svn/trunk#egg=django-tagging
django-registration
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
# S3 
#-e svn+http://opensource.washingtontimes.com/projects/public/django-clickpass/trunk/#egg=django-clickpass
#-e svn+http://django-openid.googlecode.com/svn/trunk/django_openid/#egg=django-openid

# sunlight apps
-e git://github.com/sunlightlabs/django-mediasync.git#egg=django-mediasync
-e git://github.com/sunlightlabs/django-gatekeeper.git#egg=django-gatekeeper
-e svn+https://source.sunlightlabs.com/pymods/django-twitter/#egg=django-twitter
#-e git+git@github.com:sunlightlabs/django-blogdor.git#egg=django-blogdor
-e git+git@github.com:sunlightlabs/django-showcase.git#egg=django-showcase
-e git://github.com/sunlightlabs/django-brainstorm.git#egg=django-brainstorm
-e git://github.com/sunlightlabs/django-secretballot.git#egg=django-secretballot
-e svn+https://source.sunlightlabs.com/pymods/django-simplesurvey/#egg=django-simplesurvey

# new apps
#django-newsfeed

