Django==1.3.1

# used by labssite.labs
python-twitter

# markupfield
docutils
markdown
markdown2
textile
pygments

# django-haystack
Whoosh

# third party apps
django-tagging==0.3.1
django-haystack==1.0.1-final
django-markupfield
django-debug-toolbar

# sunlight apps
django-mediasync==1.0
-e git://github.com/sunlightlabs/django-blogdor.git#egg=django-blogdor
-e git://github.com/sunlightlabs/django-markupwiki.git#egg=django-markupwiki
