{% extends "base.html" %}

{% block content %}
    <div id="ideas" class="module">
        <div class="contentHeader">
            <h2>Join Us!</h2>
        </div>	
        <div class="module">
            <p class="tip">Come help open up the government by becoming a part of our community.</p>
            <div id="signin_nav">
                <ul>
                    <li id="signin_openid"><a class="active" href="#">OpenID</a></li>
                    <li id="signin_standard"><a href="#">Standard Sign In</a></li>
                </ul>	
                <div class="clear"></div>
            </div>	
            <div id="signupOptions">
                <form id="openid_signinForm">
                    <ul>
                        <li>
                            <label>OpenID</label>
                            <input id="openid" type="text" name="word" maxlength="30" />
                        </li>
                        <button class="signinBtn">
                            <span>Sign In</span>
                        </button>
                    </ul>
                </form>
                <form id="standard_signinForm" method="post" action=".">
                    <ul>
                        <li>
                            <label>Username</label>
                            <input id="username" type="text" name="word" maxlength="30" />
                        </li>
                        <li>
                            <label>Password</label>
                            <input id="password" type="text" name="word" maxlength="30" />
                        </li>
                        <button class="signinBtn">
                            <span>Sign In</span>
                        </button>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% include "registration/new_users.html" %}
{% endblock %}
