<h3 class="space">Recent Members</h3>
<div id="recentMembers" class="module">
    <ul>
        <li>
            <img src="images/avatar_male.jpg"/>
            <span id="leadName"><a href="#">Name</a></span>
            <span id="metadata">Sunlight Labs</span>
        </li>
        <li>
            <img src="images/avatar_male.jpg"/>
            <span id="leadName"><a href="#">Name</a></span>
            <span id="metadata">Sunlight Labs</span>
        </li>	
        <li>
            <img src="images/avatar_male.jpg"/>
            <span id="leadName"><a href="#">Name</a></span>
            <span id="metadata">Sunlight Labs</span>
        </li>	
        <li>
            <img src="images/avatar_male.jpg"/>
            <span id="leadName"><a href="#">Name</a></span>
            <span id="metadata">Sunlight Labs</span>
        </li>
    </ul>
</div>
<div class="clear"></div>
