{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id="headerTip" class="contentHeader">
	<h2>{% trans "Password Reset" %}</h2>
</div>		
<div class="module">
	<p class="tip">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

	<form id="resetPassword" action="" method="post">
		{{ form.email.errors }}
		<label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} 
		<button id="resetPassword" value="{% trans 'Reset my password' %}">
			<span>Reset My Password</span>
		</button>	
	</form>
</div>	

{% endblock %}
