{% extends "base.html" %}

{% block content %}
<div id="register">

<div id="ideas" class="module">
    <div class="contentHeader">
        <h2>Join Us!</h2>
    </div>
    <div class="module">
        <p class="tip">Come help open up the government by becoming a part of our community.</p>
        <div id="signup_nav">
            <ul>
                <!--<li id="signup_openid"><a class="active" href="#">OpenID</a></li>-->
                <li id="signup_standard"><a href="#">Standard Sign Up</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="signupOptions">
            <!--<form id="openid_signupForm">
                <ul>
                    <li>
                        <label>Username</label>
                        <input id="username" type="text" name="word" maxlength="30" />
                    </li>
                    <li>
                        <label>Email</label>
                        <input id="email" type="text" name="word" maxlength="30" />
                    </li>
                    <li>
                        <label>OpenID</label>
                        <input id="openid" type="text" name="word" maxlength="30" />
                    </li>
                    <button class="signupBtn">
                        <span>Join Us!</span>
                    </button>
                </ul>
            </form>-->
            <form id="standard_signupForm" method="post" action=".">
                <ul>
                    <li>
                        <label>First Name</label>
                        <input id="firstname" type="text" name="word" maxlength="30" />
                    </li>
                    <li>
                        <label>Last Name</label>
                        <input id="lastname" type="text" name="word" maxlength="30" />
                    </li>	
                    <li>
                        <label>Email</label>
                        <input id="email" type="text" name="word" maxlength="30" />
                    </li>
                    <li>
                        <label>Username</label>
                        <input id="username" type="text" name="word" maxlength="30" />
                    </li>
                    <li>
                        <label>Password</label>
                        <input id="password" type="text" name="word" maxlength="30" />
                    </li>
                    <li>
                        <label>Confirm Password</label>
                        <input id="passwordconfirm" type="text" name="word" maxlength="30" />
                    </li>
                    <button class="signupBtn">
                        <span>Join Us!</span>
                    </button>
                </ul>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "registration/new_users.html" %}
{% endblock %}
