{% extends "base.html" %}

{% block content %}
<div id="ideas" class="module">
    <div class="contentHeader">
        <h2>Account Information</h2>
    </div>
    <div class="module">
        <p class="tip">Let the labs community know more about you.</p>
        <form id="accountForm" method="POST" action=".">
            <ul>
                {{ form.as_ul }}
                <!-- <li>
                    <label>Skills</label>
                    <p><a href="#">Show Common Skills List</a></p>
                    <input id="skills" type="text" name="word" maxlength="30" />
                    <button class="addBtn">
                        <span>Add Skill</span>
                    </button>
                    <div id="yourSkills">
                        <ul>
                            <li>
                                <span class="delete">delete</span>
                                Python
                            </li>
                            <li>
                                <span class="delete">delete</span>
                                Design
                            </li>
                            <li>
                                <span class="delete">delete</span>
                                Ruby
                            </li>
                            <li>
                                <span class="delete">delete</span>
                                CSS
                            </li>
                        </ul>
                        <div class="clear"></div>	
                    </div>
                    </li>
                    -->
                <button class="saveBtn">
                    <span>Save Changes</span>
                </button>
            </ul>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h3 class="space">Log In Information</h3>
<div class="module">
    <form>
        <ul>
            <li>
                <label>Username</label>
                <input id="name" type="text" name="word" maxlength="30" />
            </li>
            <li>
                <label>Password</label>
                <input id="name" type="text" name="word" maxlength="30" />
            </li>
            <li>
                <label>Confirm Password</label>
                <input id="name" type="text" name="word" maxlength="30" />
            </li>
            <button class="submitBtn">
                <span>Save Changes</span>
            </button>
        </ul>
    </form>
</div>
<div class="clear"></div>
{% endblock %}
