{% extends "registration/base.html" %}
{% load blog %}
{% load people %}
{% load twitter_tags %}

{% block content %}
<div id="person" class="module">
    <div id="personPic">
        <img src="{{p_user.profile.photo|default:"/media/images/avatar_male.jpg"}}"/>
    </div>
    <div id="personDetails">
        <div id="personHeader">
            <h2>
                {% if p_user.first_name %}
                    {{p_user.first_name}}
                {% else %}
                    {{p_user.username}}
                {% endif %}
            </h2>
            {% ifequal user.id p_user.id %}
                <a href="{% url edit_profile %}">(edit profile)</a>
            {% endifequal %}
            <span id="personIdentifier">{{p_user.profile.get_role_display|safe}}</span>
        </div>	
        <div id="userDetails" class="module">
            <dl>
                <dt>Website:</dt>
                <dd id="userWebsite"><a href="{{p_user.profile.url|default:"#"}}">{{p_user.profile.url|default:"n/a"}}</a></dd>

                <dt id="userLocation">Location:</dt>
                <dd>{{p_user.profile.location|default:"n/a"}}</dd>
                <div class="clear"></div>

                <dt>Skills:</dt>
                <dd>{{p_user.profile.skills|default:"n/a"}}</dd>
            </dl>
            <p>
            {{p_user.profile.about}}
            </p>

            {% if user.is_authenticated %}
                <a id="contactBtn" href="{% url contact_user p_user.username %}">Contact</a>
            {% endif %}
        </div>
    </div>
    <div id="personProject">
        <h3 class="leftH3">{% possessive p_user %} Projects</h3>
        <div id="projectModule" class="module">
            <div id="leadProjects">
                <h4>Lead</h4>
                {% if p_user.projects_lead_on.all %}
                    <ul>
                    {% for project in p_user.projects_lead_on.all %}
                    <li><a class="projectName" href="{{project.get_absolute_url}}">{{project}}</a>

                    {# only show link if user==p_user==project.lead #}
                    {% ifequal user p_user %}
                    {% ifequal user project.lead %}<a class="projectEdit" href="{% url edit_project project.slug %}">edit project</a>{% endifequal %}
                    {% endifequal %}
                    </li>
                    {% endfor %}
                    </ul>
                {% else %}
                	<p>{{p_user.first_name}} hasn't lead a projects just yet.</p>
                {% endif %}
            </div>
            <div id="helpedProjects">
                <h4>Helped</h4>
                {% if helped_projects %}
                <ul>
                    {% for project in helped_projects %}
                        <li><a href="{{project.get_absolute_url}}">{{project}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                	<p>{{p_user.first_name}} hasn't helped on any projects just yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="sunlightPost">
        <h3 class="leftH3">{% possessive p_user %} Posts</h3>
        <div class="module">
            {% get_user_posts p_user 3 as user_posts %}

            {% for post in user_posts %}
            <div class="smPost">
                <h4><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                <p>{{post.excerpt}}</p>
            </div>
            {% endfor %}

            <a class="center_viewall" href="{% url blogdor_author p_user.username %}">See all of {% possessive p_user %} posts »</a>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h3 class="space">{% possessive p_user %} Location</h3>
<div id="user_map" class="module">
	{% if p_user.profile.location %}
	    <img src="{% static_google_map p_user.profile 198 210 %}" />
		<div id="map_label">{{p_user.profile.location|default:"n/a"}}</div>
	{% else %}
		<p>We're not quite sure where {{p_user.first_name}} lives just yet, do you know?</p>
	{% endif %}
</div>
<hr></hr>
{% if p_user.profile.twitter_id %}
<h3 class="space">{% possessive p_user %} Tweets</h3>
<div id="userTweets" class="module">
	{% if tweets %}
    <ul>
    {% get_latest_tweets p_user.profile.twitter_id 5 as tweets %}
    {% for tweet in tweets %}
        <li>{{tweet.text|twitterize}}</li>
    {% endfor %}
    </ul>
	<a class="center_viewall" href="#">Go to {% possessive p_user %} twitter page »</a>
	{% else %}
		<p>No tweets to follow here, move along.</p>
	{% endif %}
</div>
{% endif %}
<div class="clear"></div>
{% endblock sidebar %}
