{% extends "registration/base.html" %}
{% load blog %}
{% load twitterize %}

{% block content %}
<div id="person" class="module">
    <div id="personPic">
        <img src="{{p_user.profile.photo|default:"/media/images/avatar_male.jpg"}}"/>
    </div>
    <div id="personDetails">
        <div id="personHeader">
            <h2>
                {% if p_user.first_name %}
                    {{p_user.first_name}}
                {% else %}
                    {{p_user.username}}
                {% endif %}
            </h2>
            {% ifequal user.id p_user.id %}
                <a href="{% url edit_profile %}">(edit profile)</a>
            {% endifequal %}
            <span id="personIdentifier">{{p_user.profile.get_role_display|safe}}</span>
        </div>	
        <div id="userDetails" class="module">
            <dl>
                <dt>Website:</dt>
                <dd id="userWebsite"><a href="{{p_user.profile.url|default:"#"}}">{{p_user.profile.url|default:"n/a"}}</a></dd>

                <dt id="userLocation">Location:</dt>
                <dd>{{p_user.profile.location|default:"n/a"}}</dd>
                <div class="clear"></div>

                <dt>Skills:</dt>
                <dd>{{p_user.profile.skills|default:"n/a"}}</dd>
            </dl>
            <p>
            {{p_user.profile.about}}
            </p>
            {# <a id="contactBtn" href="#">Contact</a> #}
        </div>
    </div>
    <div id="personProject">
        <h3 class="leftH3">{{p_user.profile.possessive}} Projects</h3>
        <div id="projectModule" class="module">
            <div id="leadProjects">
                <h4>Lead</h4>
                <ul>
                {% for project in p_user.projects_lead_on.all %}
                    <li><a href="{{project.get_absolute_url}}">{{project}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div id="helpedProjects">
                <h4>Helped</h4>
                <ul>
                    {% for project in helped_projects %}
                        <li><a href="{{project.get_absolute_url}}">{{project}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="sunlightPost">
        <h3 class="leftH3">{{p_user.profile.possessive}} Posts</h3>
        <div class="module">
            {% get_user_posts p_user 3 as user_posts %}

            {% for post in user_posts %}
            <div class="smPost">
                <h4><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                <p>{{post.excerpt}}</p>
            </div>
            {% endfor %}

            <a href="{% url blogdor_author p_user.username %}">See all of {{p_user.profile.possessive}} posts.</a>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h3 class="space">{{p_user.profile.possessive}} Location</h3>
<div class="module">
    <img src="{{p_user.profile.static_google_map}}" />
</div>
<hr></hr>
<h3 class="space">{{p_user.profile.possessive}} Tweets</h3>
<div id="userTweets" class="module">
    <ul>
    {% for tweet in p_user.profile.latest_tweets %}
        <li>{{tweet.text|twitterize}}</li>
    {% endfor %}
    </ul>
</div>
<div class="clear"></div>
{% endblock sidebar %}
