{% extends "registration/base.html" %}
{% load people %}

{% block content %}
<div class="contentHeader">
    <h2>Search For People In Your Area</h2>
</div>
<div class="module" id="searchContent">
    <a id="advancedBtn"href="#">Advanced Search</a>	
    <form id="searchForm" method="GET" action=".">
        {{form.location}}
        <button class="searchBtn">
            <span>search</span>
        </button>
        <div id="advancedSearch">
        <ul>
            <li> {{form.name.label_tag}} {{form.name}} </li>
            <li> {{form.position.label_tag}} {{form.position}} </li>
            <li> {{form.location_range.label_tag}} {{form.location_range}} </li>
            <button class="advsearchBtn">
                <span>search</span>
            </button>
            <div class="clear"></div>
        </ul>
        </div>
    </form>





{% if searched %}
	<div id="users_results" class="module">
    <h3>{{search_results|length}} Results For ""</h3>
	   <table id="users_table">
		<thread>
			<tr id="titles">
				<th id="title_name">Name</th>
				<th class="center_title">Position</th>
				<th class="center_title">Skills</th>
				<th>Distance</th>
			</tr>	
		</thread>
		<tbody>	
		    {% for user in search_results %}
	        <tr class="{% cycle 'odd' 'even' %}">
				<td>
			    	<a  id="user_name"href="{{user.user.get_absolute_url}}">{{ user.user }}</a>
				</td>
				<td>{{p_user.profile.get_role_display|safe}}</td>
				<td>{{p_user.profile.skills|default:"n/a"}}</td>
				<td>1 Mile</td>
	        </tr>
	        {% endfor %}
		</tbody>
	   </table>
	</div>
</div>	
	
{% endif %}
</div>
<div class="contentHeader">
    <h3 id="h3Header">There are <span id="communityMembers">{% num_registered_users %}</span> members of the Sunlight Labs community and growing.</h3>
</div>
<div id="timeline" class="module">
	<ul>
	    {% get_latest_user_profiles as user_profiles %}
	    {% for up in user_profiles %}
	    <li> 
        	<a href="{{ up.user.get_absolute_url }}">{% firstof up.user.first_name up.user.username %}</a> just joined
        	{% if up.location %}from {{up.location}}{% endif %}
	    </li>
	    {% endfor %}
	</ul>

</div>

{% endblock %}

{% block sidebar %}
<h3>Community Profile</h3>
<div class="module">
</div>
<hr></hr>
<div id="hackathonBox"><a href="#">Find Out How To Hold A Hackathon In Your Area</a></div>
<div class="clear"></div>
{% endblock %}

