{% extends "registration/base.html" %}
{% load people %}

{% block content %}
<div class="contentHeader">
    <h2>Search For People In Your Area</h2>
</div>
<div class="module" id="searchContent">
    <a id="advancedBtn"href="#">Advanced Search</a>	
    <form id="searchForm" method="GET" action=".">
        {{form.location}}
        <button class="searchBtn">
            <span>search</span>
        </button>
        <div id="advancedSearch">
        <ul>
            <li> {{form.name.label_tag}} {{form.name}} </li>
            <li> {{form.position.label_tag}} {{form.position}} </li>
            <li> {{form.location_range.label_tag}} {{form.location_range}} </li>
            <button class="advsearchBtn">
                <span>search</span>
            </button>
            <div class="clear"></div>
        </ul>
        </div>
    </form>
</div>


<div class="contentHeader">

{% if searched %}

    <h3 id="h3Header">{{search_results|length}} members matching search:</h3>
    <ul>
        {% for user in search_results %}
        <li> 
        <a href="{{user.user.get_absolute_url}}">{{ user.user }}</a>
        </li>
        {% endfor %}
    </ul>

{% else %}

    <h3 id="h3Header">There are <span id="communityMembers">{% num_registered_users %}</span> members of the Sunlight Labs community and growing.</h3>
</div>
<div id="timeline" class="module">
    <ul>
        {% get_latest_user_profiles as user_profiles %}
        {% for up in user_profiles %}
            <li>
            <a href="{{ up.user.get_absolute_url }}">{% firstof up.user.first_name up.user.username %}</a> just joined
            {% if up.location %}from {{up.location}}{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

</div>

{% endblock %}

{% block sidebar %}
<h3>Community Profile</h3>
<div class="module">
</div>
<div class="clear"></div>
{% endblock %}

