{% load people %}

{% ifequal obj.item_type "ask" %}
{% display_name obj.user %} added a help request on {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "comment" %}
{% display_name obj.user %} commented on {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "event" %}
{% display_name obj.user %} created the event {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "idea" %}
{% display_name obj.user %} submitted the idea {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "message" %}
{% display_name obj.user %} sent a message to {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "person" %}
{% display_name obj.user %} registered for an account.
{% endifequal %}

{% ifequal obj.item_type "project" %}
{% display_name obj.user %} created the project {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "role" %}
{% display_name obj.user %} made a request to join {{obj.body}}
{% endifequal %}

{% ifequal obj.item_type "rss" %}
{{obj.body}}
{% endifequal %}
