{% extends "base.html" %}

{% block bodyclass %}contact{%endblock%}

{% block content %}
	<div class="contentHeader">
    	<h2 class="contact">We'd Like to Hear From You</h2>
	</div>
	<div class="module">
    	<form id="contactForm" action="." method="post">
        	<ul>
            	{{ form.as_ul }}
            	<li class="submit">
                	<button class="submit-send" type="submit"><span>Send</span></button>
            	</li>
        	</ul>
    	</form>
	</div>
{% endblock %}

{% block sidebar %}
<h3>Where We Work</h3>
<div id="labsAddress" class="module">
	<div class="adr">
        <div class="street-address">1818 N Street NW, Suite 410</div>
        <span class="locality">Washington,</span>
        <abbr class="region" title="District of Columbia">DC</abbr>
        <span class="postal-code">20036</span>
    </div>
    <div class="phone">
    <span class="tel">202.742.1520</span>
    </div>
</div>	
<div class="clear"></div>
{% endblock %}