{% extends "base.html" %}
{% load labs %}

{% block body %}contact{% endblock %}

{% block feature %}
	<h2 class="projects">We Build Wonders Out of Rubble</h2>
	<div id="contactImage"></div>
{% endblock %}

{% block sidebar %}
    {% recent_tweets 2 %}
{% endblock %}

{% block content %}
	<h3 class="contact">We'd Like to Hear From You</h3>
    <form action="." method="post">
        <ul>
            {{ form.as_ul }}
            <li class="submit"><input class="submit-send" type="submit" value="Send" /></li>
        </ul>
    </form>
{% endblock %}