{% extends "base.html" %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <ul>
            {{ form.as_ul }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </ul>

        {% if page.object_list %}
            <ul class="searchResults">
            {% for result in page.object_list %}
                <li class="{{result.model_name}}"><a href="{{result.object.get_absolute_url}}">{{ result.object }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </form>
{% endblock %}
