{% extends "base.html" %}
{% load newsfeed_tags %}

{% block title %}
Sunlight Labs Search
{% endblock %}

{% block content %}
<div class="contentHeader">
    <h2>Search</h2>
</div>
<div id="siteSearchContent" class="module">

    <a id="advancedBtn" href="#">Advanced Search</a>
    <form id="siteSearch" method="get" action=".">
        {{form.q}}
        <button class="searchBtn" type="submit" value="Search">
            <span>Search</span>
        </button>
        <div id="advancedSearch">
            <label>Models:</label>
            {{ form.models }}
            <button class="searchBtn" type="submit" value="Search">
                <span>Search</span>
            </button>
        </div>
    </form>

<div id="siteSearch">
{% if page.object_list %}
    <h3>{{paginator.count}} Results For &#8220;{{query}}&#8221;</h3>
    <ul class="searchResults">
    {% for result in page.object_list %}
        <li class="{{result.model_name}}"><a href="{{result.object.get_absolute_url}}">{{ result.object }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    {% if query %}
    <p>No results found.</p>
    {% endif %}
{% endif %}
</div>
</div>

{% endblock %}

{% block sidebar %}
<h3>What's Happening In The Labs Community</h3>
<div id="timeline" class="module labsHappenings">
    <a class="tip rss" href="/newsfeed/newsfeed/main/">Subscribe to this feed</a>
    <ul>
        {% render_feed "main" 10 %}
    </ul>
</div>
{% endblock %}
