{% extends "base.html" %}

{% block content %}
<div class="contentHeader">
    <h2>Search</h2>
</div>    
<div id="siteSearchContent" class="module">
    <a id="advancedBtn" href="#">Advanced Search</a>
    <form method="get" action=".">
        <ul>
            {{ form.as_ul }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button class="searchBtn" type="submit" value="Search">
                        <span>Search</spam>
                    </button>    
                </td>
            </tr>
        </ul>

        {% if page.object_list %}
            <ul class="searchResults">
            {% for result in page.object_list %}
                <li class="{{result.model_name}}"><a href="{{result.object.get_absolute_url}}">{{ result.object }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </form>
</div>    
{% endblock %}
