<div class="idea">
    <div class="voteBox">
        <a href="#">Vote</a>
        <span class="voteTotal">{{idea.score}} Votes</span>
    </div>	
    <div class="ideaContent">
        <h3><a href="{{idea.get_absolute_url}}">{{idea.title}}</a></h3>
        <dl class="entryMetadata">
            <dt>Posted by</dt>
            <dd><a href="{{idea.user.get_absolute_url}}">{% firstof idea.user.first_name idea.user.username %}</a></dd>
            <dt>Date</dt>
            <dd>{{idea.submit_date|date}}</dd>
        </dl>
        <p>{{idea.description}}</p>
        <a class="interestedBtn" href="#">I'm Interested</a>
        <div class="clear"></div>
    </div>
</div>
