{% extends "ideas/base.html" %}
{% load comments %}

{% block content %}
<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">{{idea.title}}</h2>
    </div>	
    <div class="module">
        <dl class="entryMetadata">
            <dt>Posted by</dt>
            <dd><a href="{{idea.user.get_absolute_url}}">{% firstof idea.user.first_name idea.user.username %}</a></dd>
            <dt>Date</dt>
            <dd>{{idea.submit_date|date:"m d Y"}}</dd>
        </dl>
        <p>{{idea.description}}</p>

        <button class="helpBtn">
            <span>Help On This Project</span>
        </button>
        <button class="leadBtn">
            <span>Lead This Project</span>
        </button>
        <div class="clear"></div>


        <div id="leadBox">
            <h3>Are you sure you want to lead this project?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus lorem a nibh consectetur eu porttitor massa semper. Pellentesque hendrerit, eros vitae molestie ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="agreeBtn">
                <span>I Agree</span>
            </button>
        </div>

        <div id="commentBox">
            <h3>Discussion</h3>
            <ol id="comments">
                {% for comment in comments %}
                    {% include "comment_li.html" %}
                {% endfor %}
            </ol>

            <h3 class="h3tip">What are Your Thoughts?</h3>
            <p class="tip">Have additional feedback or ideas on how this project could be better, comment below.</p>

            <div id="commentBlock">
                <a class="userPhoto" href="#">
                    <img src="{{user.profile.photo}}"/>
                </a>
                {% get_comment_form for idea as form %}
                <form id="comment" method="POST" action="{% comment_form_target %}">
                    {{ form.comment }}
                    {{ form.honeypot }}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    <div id="subscribe">
                        <input type="checkbox" value="1" name="subscribe"/>
                        <label>Subscribe to this stream</label>
                    </div>
                    <button class="postBtn">
                        <span>Post!</span>
                    </button>
                </form>	
            </div>
            <div class="clear"></div>	
        </div>
    </div>
</div>
{% endblock %}
