{% extends "ideas/base.html" %}
{% load comments %}

{% block content %}
<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">{{idea.title}}</h2>
    </div>	
    <div class="module">
        <dl class="entryMetadata">
            <dt>Posted by</dt>
            <dd><a href="{{idea.user.get_absolute_url}}">{% firstof idea.user.first_name idea.user.username %}</a></dd>
            <dt>Date</dt>
            <dd>{{idea.submit_date|date}}</dd>
        </dl>
        <p>{{idea.description}}</p>

        <button class="helpBtn">
            <span>Help On This Project</span>
        </button>
        <button class="leadBtn">
            <span>Lead This Project</span>
        </button>
        <div class="clear"></div>


        <div id="leadBox">
            <h3>Are you sure you want to lead this project?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus lorem a nibh consectetur eu porttitor massa semper. Pellentesque hendrerit, eros vitae molestie ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="agreeBtn">
                <span>I Agree</span>
            </button>
        </div>
        {% get_comment_list for idea as comment_list %}
        {% get_comment_form for idea as comment_form %}
        {% include "comment_box.html" %}
    </div>
</div>
{% endblock %}
