{% extends "ideas/base.html" %}

{% block content %}
<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">{{idea.title}}</h2>
    </div>
    <div class="module">
        <dl class="entryMetadata">
            <dt>Posted by</dt>
            <dd><a class="seperationBlock" href="{{idea.user.get_absolute_url}}">{% firstof idea.user.first_name idea.user.username %}</a></dd>
            <dt>Date</dt>
            <dd>{{idea.submit_date|date}}</dd>
        </dl>
        <p>{{idea.description}}</p>

        {% if idea.projects.count %}
		<h4>Projects Created From This Idea</h4>
        <ul>
            {% for proj in idea.projects.all %}
            <li> <a href="{{proj.get_absolute_url}}">{{proj}}</a> was started by {{proj.lead}} on {{proj.creation_date|date}} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="startnewBtn">
            <span>Start/Lead A New Project</span>
        </button>
        <div class="clear"></div>


        <div id="leadBox">
            <h3>Are you sure you want to lead this project?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus lorem a nibh consectetur eu porttitor massa semper. Pellentesque hendrerit, eros vitae molestie ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="submit" class="agreeBtn">
                <span>I Agree</span>
            </button>
        </div>
        {% with idea as comment_obj %}
            {% include "comments/comment_box.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}
