<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Sunlight Labs</title>
		<link rel="alternate" type="application/rss+xml" title="Sunlight Foundation Transparency Ecosystem" href="http://sunlightlabs.com/blog/feeds/latest/" />
        <link rel="shortcut icon" href="http://sunlightfoundation.com/favicon.ico" type="image/x-icon">
        <link rel="icon" href="http://sunlightfoundation.com/favicon.ico" type="image/x-icon">
        {% css "main.css" %}
        {% css_ie6 "buggy.css" %}
        {% css_ie7 "buggy7.css" %}
		{% comment %}
		<link rel="stylesheet" href="/main.css" type="text/css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" href="/buggy.css" type="text/css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" href="/buggy7.css" type="text/css" media="screen" /><![endif]-->
		{% endcomment %}
		{% comment %}<script src="http://services.sunlightlabs.com/brandingbar/hat_js/labs/" type="text/javascript"></script>{% endcomment %}
		<script type="text/javascript" charset="utf-8" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
		<script type="text/javascript" charset="utf-8">
            var max_width = 400;
	        $(function() {
	            $('.post_content img').load(function(i) {
	                var elem = $(this);
	                if (elem.width() > max_width) {
    	                var r = elem.width() / elem.height();
    	                elem.width(max_width).height(max_width / r);
    	            }
	            });
	        });
		</script>
        {% comment %}
		<style type="text/css" media="screen">
			{% include "main.css" %}
		</style>
    	{% endcomment %}
	</head>
	<body class="{% block body %}home{% endblock %}">
		<div id="headerWrapper">
			<div id="pageMain">
				<div id="header">
					<div id="mainHeader">
						<h1><a href="/">sunlight labs</a></h1>
						<div id="nav">
							<ul>
								<li id="nav_blog"><a href="{% url blog_archive_index %}">blog</a></li>
								<li id="nav_projects"><a href="{% url projects %}">projects</a></li>
								<li id="nav_about"><a href="{% url about %}">about</a></li>
								<li id="nav_contact"><a href="{% url contact_form %}">contact us</a></li>
							</ul>	
						</div>	
					</div>	
				</div>
				<div id="paperEdge"></div>
				<div id="mainContent">
					<div id="featureBox">
						{% block feature %}
						<h2>Turning Government Data Into</h2>
                    	<ul>
                    		<li id="idea">idea is born</li>
                    		<li id="mess">government data is a mess</li>
                    		<li id="developer">developer takes messy data and converts it into user friendly code</li>
                    		<li id="sunlight">our products are put back out for the public to see and use</li>
                    	</ul>
                    	{% endblock %}
					</div>
					<div id="ltColumn">
						{% block content %}{% endblock %}
					</div>
					<div id="rtColumn">
						<div id="helpBox">
							<h3>What to Help?</h3>
							<p>Join Sunlight's growing list of open source civic coders that are helping make government more transparent. It is a big mission and we need as much help as we can get.</p>
							<a href="http://groups.google.com/group/sunlightlabs">Sign up to our google group</a>
						</div>
						{% block sidebar %}{% endblock %}	
					</div>
					<div class="clear"></div>	
				</div>
			</div>		
		</div>
		<div id="footerWrapper">
			<div id="footerMain">
				<div id="footerContent">
					<h3>What We're A Part Of</h3>
					<ul>
						<li>
							<h4>Contact</h4>
							<div class="footerVcard">
								<div class="vcard">
									<div class="orgName fn org">Sunlight Foundation</div>
									<div class="adr">
										<div class="street-address">1818 N Street NW, Suite 410</div>
										<span class="locality">Washington</span>
										<abbr class="region" title="District of Columbia">DC</abbr>
										<span class="postal-code">22036</span>
									</div>
									<div class="phone">Phone:
										<span class="tel">
										    <abbr title="+12027421520">202.742.1520</abbr>
										</span>
									</div>	
								</div>
							</div>
							<div class="sendEmail"><a href="{% url contact_form %}">Send Us An Email</a></div>
						</li>
						<li>
							<h4>About Sunlight</h4>
							<dl>
								<dd><a href="http://www.sunlightfoundation.com/mission/">Mission Statement</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/board_of_directors/">Board and Advisory Board</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/people/">Staff Bios</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/funding/">Our Funding</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/privacy/">Privacy Policy</a></dd>
							</dl>
						</li>
						<li>
							<h4>Communications</h4>
							<dl>
								<dd><a href="http://blog.sunlightfoundation.com/">Our Blog</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/presscenter/releases/">Press Releases</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/presscenter/articles/">Press Articles</a></dd>
								<dd><a href="http://delicious.com/Sunlight_Foundation">Web Mentions</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/logos/">Logos for Print/Web</a></dd>
							</dl>
						</li>
						<li>
							<h4>Useful Sites</h4>
							<dl>
								<dd><a href="http://congresspedia.org/">Congresspedia.org</a></dd>
								<dd><a href="http://www.opencongress.org/">OpenCongress.org</a></dd>
								<dd><a href="http://www.opensecrets.org/">OpenSecrets.org</a></dd>
								<dd><a href="http://maplight.org/">MAPLight.org</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/resources/">View All</a></dd>
							</dl>
						</li>
						<li>
							<h4>We're Social</h4>
							<dl>
								<dd><a href="http://twitter.com/sunlightnetwork">Twitter</a></dd>
								<dd><a href="http://apps.facebook.com/causes/303">Facebook</a></dd>
								<dd><a href="http://www.myspace.com/sunlightfoundation">Myspace</a></dd>
								<dd><a href="http://www.flickr.com/photos/sunlightfoundation">Flickr</a></dd>
								<dd><a href="http://www.youtube.com/sunlighters">YouTube</a></dd>
							</dl>	
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>		
