{% extends "base.html" %}

{% block body %}blog{% endblock %}

{% block feature %}
	<h2>Sharing Our Ideas With the Community</h2>
	<div id="blogImage"></div>
{% endblock %}

{% block sidebar %}
	<div id="blogArchive">
		<h3>More Posts</h3>
		<ul>
			<li>
				<span class="title"><a href="/#">Welcome Post</a></span>
				<span class="date">Sept. 10 2008</span>
			</li>
			<li>
				<span class="title"><a href="/#">Learning Python</a></span>
				<span class="date">Sept. 10 2008</span>
			</li>
			<li>
				<span class="title"><a href="/#">New Project Launched</a></span>
				<span class="date">Sept. 10 2008</span>
			</li>
		</ul>	
	</div>
{% endblock %}

{% block content %}
	<div id="blog">
		{% block blog_content %}
		{% endblock %}
	</div>
{% endblock %}