<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Sunlight Labs{% endblock title %}</title>

        {% css "main.css" %}
        {% js "jquery-1.3.2.min.js" %}
        {% js "labs.js" %}
        {% block extrahead %} {% endblock %}
    </head>
    <body class="{% block bodyclass %}home{% endblock %}">
        <div id="headerWrapper">
            <div id="pageMain">
                <div id="header">
                    <div id="logo">
                        <h1>
                            <a href="/"><big>Sunlight Labs</big></a>
                        </h1>
                    </div>
                    <div id="nav">
                        <ul>
                            <li id="nav_blog"><a href="{% url blogdor_archive %}">Blog</a></li>
                            <li id="nav_people"><a href="{% url user_search %}">People</a></li>
                            <li id="nav_projects"><a href="{% url projects_and_ideas %}">Projects</a></li>
                            <li id="nav_wiki"><a href="http://wiki.sunlightlabs.com/">Wiki</a></li>
                            <li id="nav_about"><a href="/about/">About</a></li>
                            <li id="nav_contact"><a href="{% url contact_form %}">Contact</a></li>
                        </ul>
                    </div>  
                    <div class="clear"></div>
                    <div id="pageNav">
                        <ul>
                            {% if user.is_authenticated %}
                            <li>Hi, <a href="{% url user_profile user.username %}">{{user}}</a>.</li>
                            <li><a href="{% url auth_logout %}">Logout?</a></li>
                            {% if user.is_staff %}
                            <li><a href="/admin/">Admin</a></li>
                            {% endif %}
                            {% else %}
                            <li><a href="{% url registration_register %}">Join Us</a></li>
                            <li><a href="{% url auth_login %}">Sign In</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div id="mainContent">
                    <div id="ltColumn">

                        {% if messages %}
                        <ul id="messages_list">
                            {% for message in messages %}
                                <li> {{ message }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% block content %}
                        {% endblock content %}
                    </div>
                    <div id="rtColumn">
                        {% block sidebar %}
                        {% endblock sidebar %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="footerWrapper">
            <div id="footerMain">

            </div>  
        </div>

        <!-- analytics scripts -->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-1265484-24");
            pageTracker._trackPageview();
        </script>
        <script type="text/javascript">
            var cbjspath = "static.chartbeat.com/js/chartbeat.js?uid=980&domain=sunlightlabs.com";
            var cbjsprotocol = (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://");
            document.write(unescape("%3Cscript src='"+cbjsprotocol+cbjspath+"' type='text/javascript'%3E%3C/script%3E"))
        </script>
    </body>
</html>
