<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}Sunlight Labs{% endblock %}</title>
        <link rel="shortcut icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">
        <link rel="icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/latest/{{subsite.slug}}">
        {% css "labs/main.css" %}
        {% css_ie6 "labs/buggy.css" %}
        {% css_ie7 "labs/buggy7.css" %}
        {% js "jquery-1.2.6.min.js" %}
        {% js "voting.js" %}
        {% js "labs/sunlightlabs.js" %}
	</head>
	<body class="home">
		<div id="headerWrapper">
			<div id="pageMain">
				<div id="header">
					<div id="mainHeader">
						<h1><a href="http://sunlightlabs.com/">sunlight labs</a></h1>
						<div id="nav">
							<ul>
								<li id="nav_blog"><a href="http://sunlightlabs.com/blog/">blog</a></li>
								<li id="nav_projects"><a href="http://sunlightlabs.com/projects/">projects</a></li>
								<li id="nav_wiki"><a href="http://wiki.sunlightlabs.com">wiki</a></li>
								<li id="nav_about"><a href="http://sunlightlabs.com/about/">about</a></li>
								<li id="nav_contact"><a href="http://sunlightlabs.com/contact/">contact us</a></li>
							</ul>
						</div>
					</div>
				</div>
                <div id="paperEdge"></div>

                <!-- content -->
                <div id="mainContent">
                    <!-- second header -->
                    <h2 id="secondLogo"><a href="/{{subsite.slug}}/">{{subsite.name}}</a></h2>
                    <div id="featureBox">
                        <p>{{subsite.description}}</p>
                    </div>

					
                    <div id="ltColumn">
						{% if ordering %}
						<div id="tabNav">
							<ul class="{{ordering}}">
								<li id="popular"><a href="/{{subsite.slug}}/">Most Popular</a></li>
								<li id="recent"><a href="/{{subsite.slug}}/latest/">Most Recent</a></li>
							</ul>
						</div>	
						{% endif %}
                    {% block content %}
                    {% endblock %}
                    </div>

                    <div id="rtColumn">
                    <h3>Submit New Idea</h3>
                        {% include "brainstorm/idea_form.html" %}
                    </div>
                    <div class="clear"></div>
                </div>

			</div>
		</div>
		<div id="footerWrapper">
			<div id="footerMain">
				<div id="footerContent">
					<h3>What We're A Part Of</h3>
					<ul>
						<li>
							<h4>Contact</h4>
							<div class="footerVcard">
								<div class="vcard">
									<div class="orgName fn org">Sunlight Foundation</div>
									<div class="adr">
										<div class="street-address">1818 N Street NW, Suite 410</div>
										<span class="locality">Washington</span>
										<abbr class="region" title="District of Columbia">DC</abbr>
										<span class="postal-code">22036</span>
									</div>
									<div class="phone">Phone:
										<span class="tel">
										    <abbr title="+12027421520">202.742.1520</abbr>
										</span>
									</div>	
								</div>
							</div>
							<div class="sendEmail"><a href="">Send Us An Email</a></div>
						</li>
						<li>
							<h4>About Sunlight</h4>
							<dl>
								<dd><a href="http://www.sunlightfoundation.com/mission/">Mission Statement</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/board_of_directors/">Board and Advisory Board</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/people/">Staff Bios</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/funding/">Our Funding</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/privacy/">Privacy Policy</a></dd>
							</dl>
						</li>
						<li>
							<h4>Communications</h4>
							<dl>
								<dd><a href="http://blog.sunlightfoundation.com/">Our Blog</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/presscenter/releases/">Press Releases</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/presscenter/articles/">Press Articles</a></dd>
								<dd><a href="http://delicious.com/Sunlight_Foundation">Web Mentions</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/logos/">Logos for Print/Web</a></dd>
							</dl>
						</li>
						<li>
							<h4>Useful Sites</h4>
							<dl>
								<dd><a href="http://congresspedia.org/">Congresspedia.org</a></dd>
								<dd><a href="http://www.opencongress.org/">OpenCongress.org</a></dd>
								<dd><a href="http://www.opensecrets.org/">OpenSecrets.org</a></dd>
								<dd><a href="http://maplight.org/">MAPLight.org</a></dd>
								<dd><a href="http://www.sunlightfoundation.com/resources/">View All</a></dd>
							</dl>
						</li>
						<li>
							<h4>We're Social</h4>
							<dl>
								<dd><a href="http://twitter.com/sunlightnetwork">Twitter</a></dd>
								<dd><a href="http://apps.facebook.com/causes/303">Facebook</a></dd>
								<dd><a href="http://www.myspace.com/sunlightfoundation">Myspace</a></dd>
								<dd><a href="http://www.flickr.com/photos/sunlightfoundation">Flickr</a></dd>
								<dd><a href="http://www.youtube.com/sunlighters">YouTube</a></dd>
							</dl>	
						</li>
					</ul>
				</div>
			</div>
        </div>
	</body>
</html>		
