<h3>Labs Members</h3>
<div class="module labsMembers">
    <ul id="labsMembers">
        <li id="tom"><a href="{% url blogdor_author 'Tom' %}">Tom</a></li>
        <li class="memberLeft" id="aaron"><a href="#">Aaron</a></li>
        <li class="memberRight" id="ali"><a href="{% url blogdor_author 'afelski' %}">Ali</a></li>
        <li class="memberLeft" id="alison"><a href="{% url blogdor_author 'arowla' %}">Alison</a></li>
        <li class="memberRight" id="andrew"><a href="#">Andrew</a></li>
        
        <li class="memberLeft" id="caitlin"><a href="#">Caitlin</a></li>
        <li class="memberRight" id="chris"><a href="#">Chris</a></li>
        
        <li class="memberLeft" id="david"><a href="{% url blogdor_author 'david' %}">David</a></li>
        <li class="memberRight" id="eric"><a href="{% url blogdor_author 'klondike' %}">Eric</a></li>
        <li class="memberLeft" id="ethan"><a href="{% url blogdor_author 'ethan' %}">Ethan</a></li>
        <li class="memberRight" id="james"><a href="{% url blogdor_author 'james' %}">James</a></li>
        <li class="memberLeft" id="jeremy"><a href="{% url blogdor_author 'jcarbaugh' %}">Jeremy</a></li>
        <li class="memberRight" id="josh"><a class="clear" href="{% url blogdor_author 'jroo' %}">Josh</a></li>
        <li class="memberLeft" id="kaitlin"><a href="{% url blogdor_author 'klee' %}">Kaitlin</a></li>
        <li class="memberRight" id="kevin"><a href="{% url blogdor_author 'kwebb' %}">Kevin</a></li>
        <li class="memberLeft" id="luigi"><a href="{% url blogdor_author 'luigi' %}">Luigi</a></li>
        <li class="memberRight" id="tim"><a href="{% url blogdor_author 'timball' %}">Tim</a></li>
	</ul>
	<div class="clear"></div>
</div>
