<h3>Labs Members</h3>
<div class="module labsMembers">
    <ul id="labsMembers">
        <li id="tom"><a href="{% url blogdor_author 'Tom' %}">Tom</a></li>
        <li class="memberLeft" id="ali"><a href="{% url blogdor_author 'afelski' %}">Ali</a></li>
        <li class="memberRight" id="alison"><a href="{% url blogdor_author 'arowland' %}">Alison</a></li>
        <li class="memberLeft" id="andrew"><a href="#">Andrew</a></li>       
        <li class="memberRight" id="caitlin"><a href="#">Caitlin</a></li>
        <li class="memberLeft" id="dan"><a href="#">Dan</a></li>
        <li class="memberRight" id="daniel"><a href="#">Daniel</a></li>
        <li class="memberLeft" id="drew"><a href="#">Drew</a></li>
        <li class="memberRight" id="eric"><a href="{% url blogdor_author 'klondike' %}">Eric</a></li>
        <li class="memberLeft" id="ethan"><a href="{% url blogdor_author 'ethan' %}">Ethan</a></li>
        <li class="memberRight" id="james"><a href="{% url blogdor_author 'james' %}">James</a></li>
        <li class="memberLeft" id="jeremy"><a href="{% url blogdor_author 'jcarbaugh' %}">Jeremy</a></li>
        <li class="memberRight" id="kaitlin"><a href="{% url blogdor_author 'klee' %}">Kaitlin</a></li>
        <li class="memberLeft" id="lee"><a href="#">Lee</a></li>
        <li class="memberRight" id="tim"><a href="{% url blogdor_author 'timball' %}">Tim</a></li>
	</ul>
	<div class="clear"></div>
</div>
