{% load comments %}
{% load markup %}
{% load blog %}
{% load nofollow %}

{% get_comment_list for comment_obj as comment_list %}
{% get_comment_form for comment_obj as comment_form %}

{# if comment_list or user.is_authenticated #}
<div id="commentBox">
    {% if comment_list %}
    <h3 id="blogH3">Discussion</h3>
    <ol id="comments">
        {% for comment in comment_list %}
            <li>
	<div class="AuthorName">
            <a name="c{{comment.id}}"></a>
            <span class="commentMetaAuthor">
                {% if comment.user %}
                    <a href="{{comment.user.get_absolute_url }}">
                {% endif %}
                {% firstof comment.user_name comment.user.first_name comment.user %}
                {% if comment.user %}</a>{% endif %}
            </span>
            <span class="commentMetaDate">{{comment.submit_date|date:"m/d/Y P"}}</span>
            <span class="commentPermalink"><a href="{{comment_obj.get_absolute_url}}#c{{comment.id}}">(permalink)</a>
	</div>
            <p>{{comment.comment|markdown|nofollow}}</p>
            </li>
        {% endfor %}
    </ol>
    {% endif %}

    {% if comment_list %}
        <h3 id="header_topSpace" class="h3tip">What are Your Thoughts?</h3>
    {% else %}
        <h3 class="h3tip">What are Your Thoughts?</h3>
    {% endif %}

    {% if not post or post.comments_enabled %}

        <p class="tip">Have thoughts that might fuel this discussion further, post them below. (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> is supported in comments.)</p>
        <div id="commentBlock" {% if not user.is_authenticated %}class="nonuser_commentBox"{% endif %}>
            {% if user.is_authenticated %}
            <a class="userPhoto">
                {% gravatar user.email %}
            </a>
            {% endif %}
            <form id="comment" {% if not user.is_authenticated %}class="nonuser_comment"{% endif %} method="POST" action="{% comment_form_target %}">
            {% csrf_token %}
                <input type="hidden" name="next" value="{{comment_obj.get_absolute_url}}" />
                {% for field in comment_form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                    {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
                        {% if field.name == "honeypot" %}
                            <p style="display:none;">{{ field.label_tag }} {{ field }}</p>
                        {% else %}
                            {% if not user.is_authenticated and field.name != "comment" and field.name != "url" %}
                                {{ field.label_tag }} {{ field }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if not user.is_authenticated %}
                <label>Comment</label>
                {% endif %}
                <textarea id="text" {% if not user.is_authenticated %}class="nonuser_textarea"{% endif %} class="textarea" name="comment" cols="32" rows="5"></textarea>
                <button class="postBtn" {% if not user.is_authenticated %}id="nonuser_postBtn"{% endif %} name="submit" type="submit">
                    <span>Post!</span>
                </button>
            </form>
        </div>
        <div class="clear"></div>
        {% else %}
        <p class="tip">Comments have been closed on this post.</p>
        {% endif %}

</div>
{# endif #}
