{% extends contest.template_name %}
{% load appcontest %}
{% load markup %}

{% block sidebar %}
    {% ifequal contest.slug "appsforamerica2" %}
        <h3 class="space">Sponsors</h3>
    	<div id="appsSponsors" class="module">
        	<a id="googleLogo" href="http://google.com">Google</a>
        	<a id="oreillyLogo" href="http://oreilly.com">O'Reilly</a>
        	<a id="craignewmark" href="http://cnewmark.com/">Craig Newmark</a>
        	<a id="gov2Logo" href="http://www.gov2expo.com/">Gov 2.0 Expo</a>
        	<a id="techwebLogo" href="http://www.techweb.com/">Tech Web</a>
        </div>
    {% endifequal %}
{% endblock %}

{% block content %}
	<div class="contentHeader">
    	<h2 id="appTitles">Submitted Apps</h2>
	</div>
	<div class="module">
    	{% recent_apps contest 1000 %}
	</div>
{% endblock %}


