{% extends "base.html" %}
{% load appcontest %}
{% load markup %}

{% block title %}{{contest.name}}{% endblock %}

{% block body %}contest{% endblock %}

{% block feature %}
    <a href="{% url appcontest_index contest.slug %}/">
        <h2 class="contest">Labs Contest</h2>
        <div id="contestImage-{{contest.slug}}"></div>
    </a>
{% endblock %}

{% block sidebar %}
    <div id="recentlySubmitted">
        <h3>Recently Submitted Apps</h3>
        {% recent_apps contest 3 %}
    </div>
    {% include "labs/sidebar_helpus.html" %}
{% endblock %}
