{% extends "base.html" %}
{% load appcontest %}
{% load labs %}
{% load markup %}

{% block title %}Apps for America Contest{% endblock %}

{% block body %}contest{% endblock %}

{% block feature %}
	<h2 class="contest">Labs Contest</h2>
	<div id="contestImage"></div>
{% endblock %}

{% block sidebar %}
    <div>
        <h3>Recently Submitted Apps</h3>
        {% recent_apps 3 %}
        <a href="{% url appcontest_app_list %}">See all submitted apps</a>
    </div>
    {% include "labs/sidebar_helpus.html" %}
	{% heroes %}
{% endblock %}