{% extends "appcontest/app_detail.html" %}
{% load markup %}

{% block content %}
    <h2 id="previewSubmit">Preview your app submission</h2>
    {{ block.super }}
    <form action="{% url appcontest_submit contest.slug %}" method="post">
        <input type="hidden" name="save" value="true" />
        <input type="hidden" name="name" value="{{ app.name }}" />
        <input type="hidden" name="url" value="{{ app.url }}" />
        <input type="hidden" name="source_url" value="{{ app.source_url }}" />
        <input type="hidden" name="logo_url" value="{{ app.logo_url }}" />
        <input type="hidden" name="quick_description" value="{{ app.quick_description }}" />
        <input type="hidden" name="description" value="{{ app.description }}" />
        <input type="hidden" name="contact_display" value="{{ app.contact_display }}" />
        <input type="hidden" name="contact_url" value="{{ app.contact_url }}" />
        <input type="hidden" name="contact_name" value="{{ app.contact_name }}" />
        <input type="hidden" name="contact_email" value="{{ app.contact_email }}" />
        <button class="submit-app" type="submit"><span>Submit Your App</span></button>
    </form>

{% endblock %}
