{% extends contest.template_name %}
{% load appcontest %}

{% block content %}
    <h3>Thanks for your submission!</h3>
    <p>Your submission has entered the moderation queue and will take some time before it shows up on the website.</p>
    <p>Return to <a href="{% url appcontest_index contest.slug %}">{{contest.name}}</a></p>
{% endblock %}

{% block sidebar %}
    <div id="recentlySubmitted">
        <h3>Recently Submitted Apps</h3>
        {% recent_apps contest 3 %}
    </div>
    {% include "labs/sidebar_helpus.html" %}
{% endblock %}
