{% extends "base.html" %}
{% load cache %}
{% load blog %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Sunlight Labs' latest blog posts" href="http://feeds.feedburner.com/sunlightlabs/blog" />
{% endblock %}

{% block title %}Sunlight Labs: Blog{% endblock %}
{% block bodyclass %}blog{% endblock %}

{% block sidebar %}

{% include "robots.html" %}

<hr></hr>
<h3 class="space">Categories</h3>
<div class="module">
    <ul id="blogCategories">
        {% get_popular_tags 15 as tags %}
        {% for tag in tags %}
        <li>
            <a href="{% url blogdor_tag tag %}"><span class="category">{{tag.name|slice:":19"}}</span></a>
            <a href="{% url blogdor_tag tag %}"><span class="categoryTotal">[ {{tag.count}} ]</span></a>
        </li>
        {% endfor %}
	</ul>
</div>
<div class="clear"></div>
{% endblock %}
