{% extends "base.html" %}

{% block sidebar %}
<div id="popularNav">
    <ul>
        <li id ="popular" ><a class="active" href="#">Most Popular</li>
        <li id ="favorites" ><a href="#">Our Favorites</li>
    </ul>	
</div>	
<div class="module">
    <div id="popularPosts">
        <ul>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
        </ul>	
    </div>	
    <div id="favoritePosts">
        <ul>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
            <li><a href="#">Post Name</a></li>
        </ul>	
    </div>
</div>
<hr></hr>
<h3>Labs Members</h3>
<div class="module">
    <ul>
        <li id="clay"><a href="#">Clay</a></li>
        <li id="ali"><a href="#">Ali</a></li>
        <li id="david"><a href="#">David</a></li>
        <li id="eric"><a href="#">Eric</a></li>
        <li id="garrett"><a href="#">Garrett</a></li>
        <li id="james"><a href="#">James</a></li>
        <li id="jeremy"><a href="#">Jeremy</a></li>
        <li id="josh"><a href="#">Josh</a></li>
        <li id="kevin"><a href="#">Kevin</a></li>
        <li id="lugi"><a href="#">Luigi</a></li>
        <li id="luke"><a href="#">Luke</a></li>
        <li id="tim"><a href="#">Tim</a></li>
        <li id="tom"><a href="#">Tom</a></li>
    </ul>	
</div>
<hr></hr>
<h3>Categories</h3>
<div class="module">

</div>
<div class="clear"></div>
{% endblock %}
