{% extends "blogdor/base.html" %}
{% load people %}
{% load tagging_tags %}

{% block title %}{{ block.super }} - {{ post.title }}{% endblock %}

{% block content %}
<div id="postTitle" class="contentHeader">
    <h2 class="post">{{post.title}}</h2>
</div>
<div class="module" id="blog_detail">
    <dl class="entryMetadata">
        <dt>Written by</dt>
        <dd><a class="seperationBlock" href="{{post.author.get_absolute_url}}">{% display_name post.author %}</a></dd>
        <dt>Date</dt>
        <dd>{{post.date_published|date:"m/d/Y P"}}</dd>
    </dl>
    <div class="postBody">
        {{post.content}}
    </div>

    <div id="sharing_is_caring">
        <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
        <script type="text/javascript" src="http://www.reddit.com/button.js?t=1"></script>
        <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        <!--<a style="float:left; padding-left:19px; background-image:url(http://tctechcrunch.files.wor0press.com/2010/02/buzz-icon2.png); background-repeat:no-repeat;" href='javascript:var%20b=document.body;var%20GR________bookmarklet_domain=&quot;http://www.google.com&quot;;if(b&amp;&amp;!document.xmlVersion){void(z=document.createElement(&quot;script&quot;));void(z.src=&quot;http://www.google.com/reader/ui/link-bookmarklet.js&quot;);void(b.appendChild(z));}else{}'>Buzz it</a>-->
    </div>

    {% tags_for_object post as tags %}
    {% if tags %}
    <div id="tags">
        <span>Tags:</span>
        <ul>
            {% for tag in tags %}
            <li><a href="{% url blogdor_tag tag.name %}" rel="tag">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    {% endif %}

    {% if post.is_published %}
    {% with post as comment_obj %}
        {% include "comments/comment_box.html" %}
    {% endwith %}
    {% endif %}

</div>
{% endblock content %}
