{% extends "blogdor/base.html" %}
{% load people %}
{% load tagging_tags %}

{% block title %}{{ post.title }} - {{ block.super }} {% endblock %}

{% block metadescription %}
{{post.content.raw|truncatewords:100}}
{% endblock %}

{% block content %}
<div id="postTitle" class="contentHeader">
    <h2 class="post">{{post.title}}</h2>
</div>
<div class="module" id="blog_detail">
    <dl class="entryMetadata">
        <dt>Written by</dt>
        <dd><a class="seperationBlock" href="{{post.author.get_absolute_url}}">{% display_name post.author %}</a></dd>
        <dt>Date</dt>
        <dd>{{post.date_published|date:"m/d/Y P"}}</dd>
    </dl>
    <div class="postBody">
        {{post.content}}
    </div>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
    <a href="http://addthis.com/bookmark.php?v=250&amp;username=xa-4b882c151409ed59" class="addthis_button_compact">Share</a>
    <span class="addthis_separator">|</span>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_google"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b882c151409ed59"></script>
    <!-- AddThis Button END -->

    {% tags_for_object post as tags %}
    {% if tags %}
    <div id="tags">
        <span>Tags:</span>
        <ul>
            {% for tag in tags %}
            <li><a href="{% url blogdor_tag tag.name %}" rel="tag">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    {% endif %}

    {% if post.is_published %}
    {% with post as comment_obj %}
        {% include "comments/comment_box.html" %}
    {% endwith %}
    {% endif %}

</div>
{% endblock content %}
