{% extends "base_blog.html" %}
{% load blog %}
{% load comments %}
{% load markup %}

{% block title %}{{ block.super }} - {{ post.title }}{% endblock %}

{% block sidebar %}
    <div id="blogArchive">
    	<h3>More Posts</h3>
        {% recent_posts 3 %}
    </div>
    {{ block.super }}
{% endblock %}

{% block blog_content %}
    <div class="entryMetadata">
        {% if not post.is_published %}
            <p><strong>{{ post.status|upper }}</strong></p>
        {% endif %}
    	<h3 class="entry_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    	{% if post.is_published %}
        	<div class="commentsMetaData">
        		<span class="type">Comments:</span>
        		<span class="value">
        			<a href="{{ post.get_absolute_url }}#comments">{{ post.comment_count }}</a>
        		</span>
        	</div>
    	{% endif %}
		<div class="hr"><hr /></div>
    	<div class="authorMetaData vcard">
    		<span class="type">Written by </span>
    		<span class="value fnn">{{ post.author.first_name }}</span>
    	</div>
    	{% if post.is_published %}
        	<div class="updatedMetaData">
        		<span class="type">Date:</span>
        		<span class="value">{{ post.date_published|date:"F j Y" }}</span>
        	</div>    
    	{% endif %}
    </div>
    <div class="post_content">
        {% ifequal post.markup 'markdown' %}
            {{ post.content|markdown|safe }}
        {% else %}
            {% ifequal post.markup 'textile' %}
                {{ post.content|textile|safe }}
            {% else %}                
                {% ifequal post.markup 'restructuredtext' %}
                    {{ post.content|restructuredtext|safe }}
                {% else %}
                    {{ post.content|safe }}
                {% endifequal %}
            {% endifequal %}
        {% endifequal %}
    </div>
    {% if post.is_published %}
        {% get_comment_list for post as comment_list %}
        <div id="comments">
            <h3>Comments</h3>
            {% if comment_list %}
                <ol id="comments">
                    {% for comment in comment_list %}
                        <li class="{% if comment.email %}commentGravatar{% else %}commentNone{% endif %}">
							
                            <div id="commentHeader">
								{% if comment.email %}
									{% gravatar comment.email %}
								{% endif %}
                            	{% if comment.user_url %}
	                                <p><a href="{{ comment.user_url }}">{{ comment.user_name }}</a></p>
	                            {% else %}
	                                <p>{{ comment.user_name }}</p>
	                            {% endif %}
							</div>
                            <div class="entry-content"><p>{{ comment.comment|markdown }}</p></div>
							<div class="clear"></div>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
            {% render_comment_form for post %}
        </div>    
    {% endif %}
{% endblock %}