{% extends "base_blog.html" %}
{% load blog %}
{% load markup %}

{% block sidebar %}
    <div id="blogArchive">
    	<h3>More Posts</h3>
        {% recent_posts 3 3 %}
    </div>
{% endblock %}

{% block blog_content %}
    <h2>Recent Posts</h2>
	<div class="entry">
		<ol class="entries hfeed">
		    {% for post in posts %}
			<li class="hentry">
				<div class="entryMetadata">
					<h3 class="entry_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
					<div class="commentsMetaData">
						<span class="type">Comments:</span>
						<span class="value">
							<a href="{{ post.get_absolute_url }}#comments">{{ post.comment_count }}</a>
						</span>
					</div>
					<div class="hr"><hr /></div>
					<div class="authorMetaData vcard">
						<span class="type">Written by </span>
						<span class="value fnn">{{ post.author.first_name }}</span>
					</div>
					<div class="updatedMetaData">
						<span class="type">Date:</span>
						<span class="value">{{ post.date_published|date:"F j Y" }}</span>
					</div>
				</div>	    
				<p>{{ post.excerpt|markdown|safe }}</p>
				<div class="readMore"><a href="{{ post.get_absolute_url }}">Read More</a></div>
			</li>	
			{% endfor %}
		</ol>	
	</div>
{% endblock %}