{% extends "base_full.html" %}
{% load labs %}
{% load markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block body %}home{% endblock %}

{% block feature %}
    <h2>Turning Government Data Into</h2>
    <ul>
    	<li id="idea">idea is born</li>
    	<li id="mess">government data is a mess</li>
    	<li id="developer">developer takes messy data and converts it into user friendly code</li>
    	<li id="sunlight">our products are put back out for the public to see and use</li>
    </ul>
{% endblock %}

{% block sidebar %}
	{% heroes %}
{% endblock %}

{% block content %}
	<div>
		{{ flatpage.content|markdown }}
	</div>
{% endblock %}