{% extends "base.html" %}
{% load media %}
{% block extrahead %}
  {%css "openPages.css" %}
{% endblock %}

{% block title %}Sunlight Labs / Open Watcher {% endblock %}

{% block content %}
    <div>
        {{ flatpage.content|safe }}
    </div>
{% endblock %}

{% block sidebar %}

<h3 id="what_this_is" class="space">What this is</h3>
<div class="module rtColumnSpaces">
<p>On December 8th the White House released the <a
href="http://sunlightfoundation.com/opengovernmentdirective/">Open
Government Directive</a> requiring all federal agencies to release new
datasets and to create (agencyname).gov/Open pages with their open
government plans. We&#8217;ve set up this site to keep track of their
success in meeting that deadline. This application checks each major
agency website&#8217;s /Open page to see if it exists. If it does, a
shiny green check mark goes next to it and a link to the /Open page
comes up. If it doesn&#8217;t, then it gets an X by the name until it
does. </p>
<p>This list is not all-encompassing of all the agencies that the Open
Government Directive impacts. But it is a good start to see how the
landscape will change.</p>
</div>
{% endblock sidebar %}




