{% extends "base.html" %}
{% load markup %}

{% block title %}Design for America{% endblock %}

{% block body %}contest{% endblock %}

{% block feature %}
    <a href="/contests/designforamerica/">
        <h2 class="contest">Labs Contest</h2>
        <div id="contestImage-designforamerica"></div>
    </a>
{% endblock %}

{% block content %}
{{flatpage.content}}
{% endblock %}

{% block sidebar %}
<h3 class="space">Platinum Sponsor</h3>
<div class="module sponsorLogos">
    <a id="adobeLogo" href="http://www.adobe.com/">Adobe</a>
</div>
<h3 class="space">Sponsors</h3>
<div class="module">
    <ul class="sponsorLogosList">
        <li><a id="googleLogo" href="http://www.google.com">Google</a></li>
        <li><a id="oreillyLogo" href="http://oreilly.com/">O'Reilly</a></li>
        <li><a id="techwebLogo" href="http://www.techweb.com/">techWeb</a></li>
        <li><a id="gov2Logo" href="http://www.gov2expo.com/">Gov 2.0 Expo</a></li>
    </ul>    
</div>
{% endblock %}
