{% extends "events/base.html" %}

{% block content %}
<div class="module">
    <div class="contentHeader">
        <h2>{{event}}</h2>
    </div>
    <div id="eventDetails" class="module">
        <!-- here is all of the data that the template has -->
        <div id="eventMetaData">
        	<dl>
        		<dt>Start Date:</dt>
        		<dd>{{ event.start_date|date}}</dd>
		
        		<dt>End Date:</dt>
        		<dd>{{ event.end_date|date}}</dd>
        		<div class="clear"></div>
		
        		<dt class="eventLocation">Location:</dt>
        		<dd class="eventLocation">{{ event.location }}</dd>
		
        		<dt>URL:</dt>
        		<dd>{{ event.url|urlize }}</dd>
        	</dl>
        	<div class="clear"></div>
		</div>
        {{ event.description }}
        <a href="{{event.creator.get_absolute_url}}">{{ event.creator.firstname }}</a>
    </div>
</div>
{% endblock %}
