{% extends "events/base.html" %}

{% block content %}
<div class="contentHeader">
    <h2>Search For Events In Your Area</h2>
</div>
<div class="module" id="searchContent">
    <form id="searchForm" method="GET" action=".">
        <ul>
            {{ form.as_ul }}
        </ul>
        <button class="searchBtn">
            <span>search</span>
        </button>
        <div class="clear"></div>
    </form>
</div>

<div class="contentHeader">

{% if searched %}

    <h3 id="h3Header">{{search_results|length}} events found:</h3>
    <ul>
        {% for event in search_results %}
        <li>
        <a href="{{event.get_absolute_url}}">{{event}}</a>
        </li>
        {% endfor %}
    </ul>

{% else %}

    This area is displayed if they user hasn't searched yet.

{% endif %}

</div>


{% endblock %}
