{% extends "events/base.html" %}
{% load media %}

{% block title %}{{block.super}}: Events{% endblock %}

{% block extrahead %}
{% js "jquery.tablesorter.min.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#events_table').tablesorter({widgets: ['zebra'] });
    });
</script>
{% endblock %}

{% block content %}
<div class="contentHeader">
    <h2>Search For Events In Your Area</h2>
</div>
<div class="module" id="searchContent">
    <form id="searchForm" method="GET" action=".">
        <ul>
            {{ form.as_ul }}
        </ul>
        <button type="submit" class="searchBtn_events">
            <span>search</span>
        </button>
        <div class="clear"></div>
    </form>

{% if searched %}

    <h3>{{search_results|length}} Events Found</h3>
    <table id="events_table">
        <thead>
            <tr id="titles">
                <th class="table_left sort" id="title_name">Name</th>
                <th class="table_center table_position sort">Location</th>
                <th class="table_right sort">Distance <small>(mi)</small></th>
            </tr>
        </thead>
        <tbody>
            {% for event in search_results %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="table_left">
                    <a id="event_name" href="{{user.user.get_absolute_url}}">{{event}}</a>
                </td>
                <td class="table_center table_position">{{ event.location }}</td>
                <td class="table_right">{% if event.distance %} {{event.distance.mi|floatformat}} {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
</div>


{% endblock %}
