{% extends "people/base.html" %}

{% block title %} {{block.super}} Login {% endblock %}

{% block content %}
    <div id="ideas" class="module">
        <div class="contentHeader">
            <h2>Sign In</h2>
        </div>
        <div class="module">
            <p>Don't have an account, <a href="{% url openid-register %}">sign up now</a>!</p>
            <div id="signin_nav">
                <ul>
                    <li id="signin_standard"><a class="active" href="#">Standard Sign In</a></li>
                    <li id="signin_openid"><a href="#">OpenID</a></li>
                    <li id="signin_google"><a href="#">Google</a></li>
                    <li id="signin_yahoo"><a href="#">Yahoo</a></li>
                    <li id="signin_aol"><a href="#">AOL</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div id="signupOptions">
                <form id="openid_signinForm" method="post" action="{{action}}">
                    <ul>
                        <li>
                            <label>OpenID</label>
                            <input id="openid" type="text" name="openid_url" />
                        </li>
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
                        <button class="signinBtn" type="submit">
                            <span>Sign In With OpenID</span>
                        </button>
                    </ul>
                </form>
                <form id="google_signinForm" method="post" action="{{action}}">
                    <input type="hidden" name="openid_url" value="http://www.google.com/accounts/o8/id/" />
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    <button class="signinBtn" type="submit">
                        <span>Sign In With Your Google Account</span>
                    </button>
                </form>
                <form id="yahoo_signinForm" method="post" action="{{action}}">
                    <input type="hidden" name="openid_url" value="http://yahoo.com" />
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    <button class="signinBtn" type="submit">
                        <span>Sign In With Your Yahoo ID</span>
                    </button>
                </form>
                <form id="aol_signinForm" method="post" action="{{action}}">
                    <ul>
                        <li>
                            <label for="aol_url">AOL Screenname</label>
                            <input id="aol_url" type="text" name="openid_url" value="http://openid.aol.com/screenname" />
                        </li>
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
                        <button class="signinBtn" type="submit">
                            <span>Sign In With Your AOL Screenname</span>
                        </button>
                    </ul>
                </form>
                <form id="standard_signinForm" method="post" action="{{action}}">
                    <ul>
                        <li><label>Username</label><input name="username" /></li>
                        <li><label>Password</label><input name="password" type="password" /></li>
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
                        <button class="signinBtn" type="submit">
                            <span>Sign In</span>
                        </button>
                    </ul>

                    <div class="clear"></div>
                    <p id="forgottenPassword"><a href="{% url openid-recover %}">Help, I've forgotten my password</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

