{% extends "people/base.html" %}

{% block title %}Recover Account{% endblock %}

{% block content %}
<div id="headerTip" class="contentHeader">
    <h2>Recover Account</h2>
</div>
<div class="module">
    <p class="tip">Forgotten your password? Enter your username or e-mail address below, and we'll e-mail instructions for setting a new one.</p>

    <form id="resetPassword" action="" method="post">
        {% if message %}<p class="error">{{message}}</p>{% endif %}
        <label for="id_recover">Username or Email:</label>
        <input id="id_recover" type="text" name="recover">
        <button id="resetPassword" value="Recover Account">
            <span>Recover Account</span>
        </button>   
    </form>
</div>  

{% endblock %}
